.homeContainer {
  /* background-color: red; */
  color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.homeContainer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: url(../../assests/shubham-dhage-v0VjjYYFjOg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.homeHeroHeading {
  font-size: 2rem;
  margin: 20px;
  position: relative;
  z-index: 1;
  animation: fadeIn 1.5s ease-out;
}

.homeheroDescription {
  padding: 0 25%;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  animation: slideUp 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
