.about-us {
  width: 100%;
  /* margin: 0 auto; */
  padding: 2rem;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.about-us h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 2rem;
}

.about-us h2 {
  color: #3498db;
  margin-top: 2rem;
}

.about-us p {
  margin-bottom: 1rem;
}

.our-story, .our-vision, .our-technology {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.head {
  font-family: "Roboto", "sans-serif";
  color: black;
 

}


.our-story, .our-vision, .our-technology  p {
      font-family: space grotesk;
}
@media (max-width: 600px) {
  .about-us {
    padding: 1rem;
  }
}

.herosection img {

  height: 40%;
  width: 100%;
  position: relative;
  filter: blur(3px);

}

.herosection p{
  position: absolute;
  color: black;
  font-family: "Space Grotesk";
  font-size: 60px;
  left: 5%;
  top: 3%;
  max-width: 600px;
  background-color: #f0ebeb9f;
  padding: 10px;
  border-radius: 5PX;

  


}

.storyline{

  font-family: "Space Grotesk";
  display: flex;
  font-size: 40px;
  color: black;
 

}

.line{

  background-color: black;
}


.story{

  display: flex;
  gap: 8rem;
}

.story img {

  border-radius: 5px;

}

.story p{

  
  max-width: 600px;
  font-size: medium;
}


.vision{
  display: flex;
  flex-direction: row-reverse;
  gap: 16rem;
}

.vision img {

  border-radius: 5px;
  margin-left: 5px;

}

.vision p{

  
  max-width: 600px;
  font-size: medium;
}








